<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.LogDao">
   <insert id="addLog" parameterType="Log">
      INSERT into log(name,things,date) values(#{name},#{things},#{date})
   </insert>

   <select id="queryAllLog" resultType="Log">
      select id,name,things,date from log
   </select>
</mapper>

















